---
actions:
  1:
    action: delete_indices
    description: >-
      Delete all indices older than {{ days_to_delete }} days.
    options:
      ignore_empty_list: True
      disable_action: False
    filters:
    - filtertype: age
      source: name
      direction: older
      timestring: '%Y.%m.%d'
      unit: days
      unit_count: {{ days_to_delete }}
